{{#if tentacleVisible}}
  <div class="tentacle">
    <img src="http://eviltrout.com/images/tentacle.gif" />
  </div>
{{/if}}

<div class="buttons">
  <DButton
    @label="purple_tentacle.show"
    @action={{action "showTentacle"}}
    @icon="eye"
    @id="show-tentacle"
  />
</div>
